*.log
.DS_Store
Thumbs.db

.env
.env.backup
.env.production
.env.local
.env.testing
.env.*.local

.phpactor.json
.phpunit.result.cache
.phpunit.cache
Homestead.json
Homestead.yaml

/node_modules
/vendor

/public/build
/public/hot
/public/storage
/public/uploads

/storage/*.key
/storage/pail

/bootstrap/cache/*
!/bootstrap/cache/.gitkeep

npm-debug.log*
yarn-error.log*
pnpm-debug.log*

/.fleet
/.idea
/.nova
/.vscode
/.zed

auth.json
